.location {
  padding: 0.25rem 0.75rem;
  background: var(--contrast-light);
  border-radius: 111px;
  color: var(--contrast);
  font-size: 0.625rem;
  line-height: 2;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
  --icon-size: 0.75rem;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.location.is-white {
  background-color: rgb(255 255 255 / 0.21);
  color: var(--text-inverse);
}

.location.is-bigger {
  font-size: 0.75rem;
  --icon-size: 1.125rem;
}

@media (min-width: 1100px) {
  .location {
    font-size: 1rem;
    --icon-size: 1.125rem;
  }
}