.btn-bordered, .btn-filled, .btn-bordered-white, .btn-bordered-grey {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.56;
  font-weight: 500;
  color: var(--contrast);
  padding: 0.75rem 2.25rem;
  border: 1px solid var(--contrast);
  border-radius: 32px;
  width: max-content;
  transition: .3s;

  @media (min-width: 1100px) {
    padding-block: 1.125rem;
  }

  &:hover {
    background: var(--contrast);
    color: var(--contrast-light);
    border-color: var(--contrast-border);
  }

  svg {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.btn-filled {
  background: var(--contrast);
  border-color: var(--contrast-border);
  color: var(--contrast-light);

  &:hover {
    background-color: var(--text-inverse);
    color: var(--contrast);
  }
}

.btn-bordered-white {
  color: var(--text-inverse);
  border-color: var(--text-inverse);

  &:hover {
    background-color: var(--text-inverse);
    border-color: var(--text-inverse);
    color: var(--contrast);
  }
}

.btn-bordered-grey {
  border-color: var(--text-light);
  color: var(--text-light);
}

.btn-icon {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 60px;
  border: 1px solid var(--border);
  transition: .3s;

  &:hover {
    color: var(--contrast);
    border-color: var(--contrast-border);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.btn-like {
  width: 30px;
  height: 30px;
  background: rgb(255 255 255 / 0.35);
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  z-index: 3;
  transition: .3s;
  --icon-size: 14px;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &:hover {
    transform: scale(1.1);
    background: rgb(255 255 255 / 0.60);
    color: var(--price);
  }

  &.is-bigger {
    width: 40px;
    height: 40px;
    --icon-size: 16px;
  }

  @media (min-width: 1100px) {
      width: 48px;
      height: 48px;
      top: 28px;
      right: 28px;
      --icon-size: 21px;

    &.is-bigger {
      width: 60px;
      height: 60px;
      --icon-size: 26px;
    }
  }
}

